<footer>
    <div id="footer-header">
            <div class="container">
                <li><a href="#"><i class="fa fa-phone"> </i> +33254361879</a></li>
                    <li><a href="#"><i class="fa fa-envelope"> </i> komala&#64;contact.com</a></li>
                        <li><a href="#"><i class="fa fa-map-marker"> </i> 44 GRANDE RUE 10190 AIX-VILLEMAUR-PALIS</a></li>
                            <li><a href="#"><i class="fa fa-euro"> </i> EURO</a></li>
                                <li><a href="#"><i class="fa fa-user-o"> </i> My Account</a></li>
                
            
    </div>
</div>
</footer>
